@mixin center {
    margin: 0 auto;
    margin-top:100px;
};
.c-center{
    @include center;
};

$success-color:#24c04b;
$white-color:#dddcdc;
@mixin btn-color( $color,$color2) {
  background-color: $color !important; 
  border-color: $color2 !important;
}

.bg-success{
    @include btn-color( $success-color,$white-color)
}
.btn-success{
    @include btn-color( $success-color,$white-color)
}
